# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

# Level5 Prototype
!/l5

# Weave components
!/backend
!/compute
!/electron
!/packaging

# Weave Documentation
!docs/**/*.md
!docs/**/*.png

# Weave project
!README.md
!CHANGELOG.md
!LICENSE
!.claude/**/*.md
!.gitmodules
!Makefile

# ...even if they are in subdirectories
!*/
