# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

# Weave project source files
!*.go
!*.html
!*.css
!*.ttf
!go.sum
!go.mod

# Weave compuete daemon project
!/compute-daemon

# Weave Documentation
!docs/**/*.md
!docs/**/*.png

# Weave project
!README.md
!LICENSE
!CLAUDE.md
!.claude/**/*.md
!.gitmodules

# Third-party dependencies
!/compute-daemon/third_party

# ...even if they are in subdirectories
!*/
