# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

# Weave project source files
!*.html
!*.css
!*.js
!*.json

# ...even if they are in subdirectories
!*/

# Exclude node_modules everywhere (must come after allowlist patterns)
**/node_modules/
